@import url('https://fonts.googleapis.com/css?family=Ubuntu:300');

@page {
    size: auto;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

rect {
    fill: transparent;
    stroke: none;
}

.month-name text { fill: #c00; }

.day rect { stroke: none; }
.day circle { fill: transparent; }
.day.day-holyday circle { fill: transparent; }
.day text { fill: #333; }
.day-names circle { fill: transparent; }
.day-names rect { stroke: none; }
.day-names.day-holyday circle { fill: transparent; }
.day.day-holyday text { fill: #c00; }
.sprint-id text { fill: #ccc; }
.day-names text { fill: #555; }
.day-names.day-holyday text { fill: #c00; }

.day.of-prev-month text,
.day.of-next-month text {
    fill: #ddd;
}